@import url("https://fonts.googleapis.com/css?family=Caveat|Cantarell");

@import "keyframes.scss";

$navBlue: #334d77;

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Cantarell", serif;
  background-color: #fff;
  color: #34495e;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #cbccd6;
}

body::-webkit-scrollbar-thumb {
  background: $navBlue;
}

a{
  color: #cc902a;

  &:hover,
  &:visited{
    text-decoration: none;
    color: initial;
  }
}

h2 {
  margin: 10px 0;
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 100;
}

p,
li {
  font-size: 1.4em;
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.close {
  float: right;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.5;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  position: absolute;
  top: 15px;
  right: 15px;
}

.loading-trowel-wrapper {
  position: fixed;
  top: 300px;
  right: calc(50% - 40px);
  width: 80px;
  animation: brand-roll 1s infinite;
  transition: 1000ms;
  z-index: -1;
}

.general-container {
  opacity: 0;
  transition: 700ms;
}

@media (min-width: 850px) and (max-width: 991px) {
  .container {
    max-width: 820px;
  }
}